Repository masakazu1967/cinecom, changes with the owners that CODEOWNERS names for each.
All owners: @cinecom-team, @docs-team, @architect-team, @ux-design-team, @project-manager, @devops-team, @frontend-team, @backend-team, @database-team, @test-team, @security-team

CODEOWNERS:

# CODEOWNERS
# 
# This file defines which users are automatically requested for review
# when someone opens a pull request.
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# Global ownership - requires review for all changes
* @cinecom-team

# Documentation - requires documentation team review
docs/ @docs-team
*.md @docs-team
README* @docs-team

# Architecture & Design - requires architect review
docs/architecture/ @architect-team
docs/design/ @ux-design-team
docs/agents/ @project-manager

# Project Management - requires PM review
docs/project/ @project-manager
docs/meetings/ @project-manager
.github/ @devops-team @project-manager

# Frontend - requires frontend team review
frontend/ @frontend-team
*.tsx @frontend-team
*.ts @frontend-team
*.jsx @frontend-team
*.js @frontend-team
*.css @frontend-team
*.scss @frontend-team
tailwind.config.* @frontend-team
next.config.* @frontend-team
package.json @frontend-team
yarn.lock @frontend-team
package-lock.json @frontend-team

# Backend - requires backend team review  
backend/ @backend-team
*.nest.* @backend-team
*.service.ts @backend-team
*.controller.ts @backend-team
*.module.ts @backend-team
*.guard.ts @backend-team
*.interceptor.ts @backend-team
*.decorator.ts @backend-team

# Database - requires database team review
backend/src/entities/ @database-team
backend/src/migrations/ @database-team
backend/src/database/ @database-team
*.entity.ts @database-team
*.migration.ts @database-team
database/ @database-team
*.sql @database-team

# Testing - requires test team review
tests/ @test-team
*.test.* @test-team
*.spec.* @test-team
jest.config.* @test-team
playwright.config.* @test-team
e2e/ @test-team

# DevOps & Infrastructure - requires devops review
.github/workflows/ @devops-team
docker/ @devops-team
Dockerfile* @devops-team
docker-compose*.yml @devops-team
.dockerignore @devops-team
infrastructure/ @devops-team
scripts/ @devops-team
*.sh @devops-team

# Security - requires security team review
backend/src/auth/ @security-team
backend/src/guards/ @security-team
*.security.* @security-team
.env* @security-team @devops-team

# Configuration files - requires multiple team review
tsconfig*.json @frontend-team @backend-team
.eslintrc* @frontend-team @backend-team
.prettierrc* @frontend-team @backend-team
.gitignore @devops-team
.nvmrc @devops-team @frontend-team

# Microservice specific ownership
backend/services/user-service/ @backend-team @security-team
backend/services/movie-service/ @backend-team @database-team
backend/services/actor-service/ @backend-team @database-team
backend/services/scene-service/ @backend-team @database-team
backend/services/review-service/ @backend-team @database-team

# Critical files requiring additional oversight
CODEOWNERS @project-manager @devops-team
LICENSE @project-manager

fix(ci): add pnpm lockfile and adjust workflow for monorepo
  .github/workflows/frontend-ci.yml
  pnpm-lock.yaml
Owners: @devops-team, @cinecom-team

fix(ci): improve frontend workflow for monorepo structure
  .github/workflows/frontend-ci.yml
Owners: @devops-team

fix(ci): resolve monorepo workspace and dependency issues
  .github/workflows/frontend-ci.yml
  pnpm-workspace.yaml
Owners: @devops-team, @cinecom-team

fix(ci): simplify frontend CI workflow for reliable execution
  .github/workflows/frontend-ci.yml
Owners: @devops-team

fix(ci): resolve ESLint config and lockfile issues for monorepo
  .github/workflows/frontend-ci.yml
  frontend/package.json
  pnpm-lock.yaml
Owners: @devops-team, @frontend-team, @cinecom-team

feat(monorepo): add frontend workspace shortcut command
  package.json
Owners: @frontend-team

fix(ci): remove working-directory from frontend workflow for monorepo compatibility
  .github/workflows/frontend-ci.yml
Owners: @devops-team

docs: frontendのREADMEのlint対応
  frontend/README.md
Owners: @frontend-team

docs(github): update protection rules to use frontend-integration
  docs/development/github_setup_instructions.md
Owners: @docs-team

feat(monorepo): add backend services workspace shortcuts
  package.json
  pnpm-lock.yaml
Owners: @frontend-team, @cinecom-team

ci(backend): add comprehensive CI workflows for all microservices
  .github/workflows/actor-service-ci.yml
  .github/workflows/movie-service-ci.yml
  .github/workflows/review-service-ci.yml
  .github/workflows/scene-service-ci.yml
  .github/workflows/user-service-ci.yml
Owners: @devops-team

docs: セキュリティスキャン戦略を高速と詳細に分ける
  docs/development/ci_cd_pipeline.md
Owners: @docs-team

docs(architecture): add DDD and Clean Architecture specifications
  docs/architecture/domain_design.md
Owners: @architect-team

ci: add basic security scan workflow for backend and frontend
  .github/workflows/security-scan.yml
Owners: @devops-team

fix(ci): remove deprecated yq installation from CI workflow
  .github/workflows/ci.yml
Owners: @devops-team

fix(ci): update security scan workflow to use supported action versions
  .github/workflows/security-scan.yml
Owners: @devops-team

chore(dev): add git-flow to devcontainer setup
  .devcontainer/create-container.sh
Owners: @devops-team

fix(ci): add PR comment permissions to security scan workflow
  .github/workflows/security-scan.yml
Owners: @devops-team

refactor(docs): focus domain design document on DDD concepts only
  docs/architecture/domain_design.md
Owners: @architect-team

docs(architecture): add comprehensive project structure documentation
  docs/architecture/project_structure.md
Owners: @architect-team

chore: セキュリティスキャンのジョブ名を変更する
  .github/workflows/security-scan.yml
Owners: @devops-team
