Repository masakazu1967/cinecom, changes with the owners that CODEOWNERS names for each.
All owners: @cinecom-team, @docs-team, @architect-team, @ux-design-team, @project-manager, @devops-team, @frontend-team, @backend-team, @database-team, @test-team, @security-team

ci: GitHub Actions CI/CD ワークフローを構築
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
Owners: @devops-team

docs: GitHub設定とプロジェクト管理の手順書を追加
  docs/development/github_setup_instructions.md
Owners: @docs-team

chore: P0タスク1.2・2.1の完了チェックを更新
  docs/project/pre_development_tasks.md
Owners: @project-manager

chore: 開発環境統一設定を追加
  .editorconfig
  .nvmrc
  .prettierignore
  .prettierrc
  .vscode/settings.json
  package.json
  tsconfig.json
  turbo.json
Owners: @cinecom-team, @devops-team, @frontend-team, @backend-team

feat: Docker開発環境を構築
  docker-compose.dev.yml
  docker/postgres/init.sql
  docker/redis/redis.conf
  scripts/setup-dev.sh
Owners: @devops-team

docs: プロジェクト管理・開発標準テンプレートを作成
  docs/development/coding_standards.md
  docs/development/testing_strategy.md
  docs/project/requirements_analysis_template.md
  docs/project/requirements_definition_template.md
Owners: @docs-team, @project-manager

docs: アーキテクチャ設計テンプレートを作成
  docs/architecture/api_specification_template.md
  docs/architecture/database_schema_template.md
  docs/architecture/system_design_template.md
Owners: @architect-team

docs: P0タスク完了状況を更新
  docs/project/pre_development_tasks.md
Owners: @project-manager

docs: 完了済みタスクのチェックボックスを更新
  docs/project/pre_development_tasks.md
Owners: @project-manager

docs(github): update branch protection and project workflows
  docs/development/github_setup_instructions.md
Owners: @docs-team

docs(agents): enhance agent coordination protocols and workflows
  docs/agents/coordination_protocols_enhanced.md
  docs/agents/deliverable_handoff_format.md
  docs/agents/prompt_templates.md
  docs/agents/task_calling_standards.md
Owners: @project-manager

docs(templates): standardize project and architecture templates
  docs/architecture/api_specification_template.md
  docs/architecture/database_schema_template.md
  docs/architecture/system_design_template.md
  docs/development/coding_standards.md
  docs/development/testing_strategy.md
  docs/project/requirements_analysis_template.md
  docs/project/requirements_definition_template.md
Owners: @architect-team, @docs-team, @project-manager

feat(.github): add comprehensive templates for AI agent collaboration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  docs/development/github_setup_instructions.md
  docs/development/services_registration_guide.md
  docs/project/charter.md
  sonar-project.properties
Owners: @project-manager, @devops-team, @docs-team, @cinecom-team

docs(github): restructure setup instructions for single-account AI collaboration
  docs/development/github_setup_instructions.md
Owners: @docs-team

fix(ci): adapt CI pipeline for documentation phase
  .github/workflows/ci.yml
Owners: @devops-team

fix(ci): align job names with repository rule requirements
  .github/workflows/ci.yml
Owners: @devops-team

fix(ci): resolve markdown validation and secret detection issues
  .github/workflows/ci.yml
Owners: @devops-team

fix: resolve markdown validation issues and add MD040 suppression
  .github/workflows/ci.yml
  docs/development/coding_standards.md
Owners: @devops-team, @docs-team

fix(ci): exclude devcontainer.json and soften secret detection
  .github/workflows/ci.yml
Owners: @devops-team

fix: resolve markdown validation issues and add MD040 suppression
  docs/development/coding_standards.md
Owners: @docs-team

feat(architecture): add domain design and infrastructure setup guides
  docs/architecture/domain_design.md
  docs/operations/infrastructure_setup.md
Owners: @architect-team, @docs-team

feat(operations): add performance optimization and security guidelines
  docs/operations/performance_optimization.md
  docs/security/security_guidelines.md
Owners: @docs-team

refactor(docs): restructure coding standards and development guides
  docs/development/ci_cd_pipeline.md
  docs/development/coding_standards.md
  docs/development/git_workflow.md
  docs/development/services_registration_guide.md
  docs/development/testing_strategy.md
Owners: @docs-team

docs: update project templates and configuration files
  .github/PULL_REQUEST_TEMPLATE/architecture_review.md
  .github/PULL_REQUEST_TEMPLATE/default.md
  docs/architecture/system_design_template.md
  docs/architecture/technology_stack.md
  docs/operations/quality_standards.md
  docs/project/charter.md
  frontend/www/.gitignore
  frontend/www/README.md
  frontend/www/eslint.config.mjs
  frontend/www/next.config.ts
  frontend/www/package-lock.json
  frontend/www/package.json
  frontend/www/postcss.config.mjs
  frontend/www/public/file.svg
  frontend/www/public/globe.svg
  frontend/www/public/next.svg
  frontend/www/public/vercel.svg
  frontend/www/public/window.svg
  frontend/www/src/app/favicon.ico
  frontend/www/src/app/globals.css
  frontend/www/src/app/layout.tsx
  frontend/www/src/app/page.tsx
  frontend/www/tsconfig.json
  sonar-project.properties
Owners: @devops-team, @project-manager, @architect-team, @docs-team, @frontend-team, @backend-team, @cinecom-team

docs: update services registration guide
  docs/development/services_registration_guide.md
Owners: @docs-team

refactor(frontend): remove old www directory structure
  frontend/www/.gitignore
  frontend/www/README.md
  frontend/www/eslint.config.mjs
  frontend/www/next.config.ts
  frontend/www/package-lock.json
  frontend/www/package.json
  frontend/www/postcss.config.mjs
  frontend/www/public/file.svg
  frontend/www/public/globe.svg
  frontend/www/public/next.svg
  frontend/www/public/vercel.svg
  frontend/www/public/window.svg
  frontend/www/src/app/favicon.ico
  frontend/www/src/app/globals.css
  frontend/www/src/app/layout.tsx
  frontend/www/src/app/page.tsx
  frontend/www/tsconfig.json
Owners: @devops-team, @frontend-team, @backend-team

feat(frontend): restructure Next.js application to root frontend directory
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Owners: @devops-team, @frontend-team, @backend-team

chore: add pnpm workspace configuration
  pnpm-workspace.yaml
Owners: @cinecom-team

fix(auth): standardize JWT expiration to 1 hour
  docs/security/security_guidelines.md
Owners: @docs-team

feat(logging): enhance 5-level logging system with FATAL level
  docs/architecture/system_design_template.md
  docs/operations/infrastructure_setup.md
Owners: @architect-team, @docs-team

docs: add documentation contradictions analysis report
  docs_contradictions_analysis.md
Owners: @docs-team

docs: resolve all documentation contradictions with systematic approach
  docs_contradictions_analysis.md
Owners: @docs-team

feat(agents): implement agent responsibility principles and coordination protocols
  docs/agents/coordination_protocols.md
  docs/agents/decision_making_process.md
  docs/agents/deliverable_handoff_format.md
  docs/agents/emergency_procedures.md
  docs/project/charter.md
Owners: @project-manager

feat(architecture): add phased implementation strategies for system components
  docs/architecture/system_design_template.md
  docs/architecture/technology_stack.md
  docs/development/ci_cd_pipeline.md
Owners: @architect-team, @docs-team

feat(operations): implement phased performance targets and monitoring hierarchy
  docs/operations/monitoring_metrics.md
  docs/operations/performance_optimization.md
  docs/operations/quality_standards.md
Owners: @docs-team

feat(security,dev): add phased encryption approach and coding standards clarification
  .devcontainer/devcontainer.json
  docs/architecture/domain_design.md
  docs/development/coding_standards.md
  docs/security/security_guidelines.md
Owners: @cinecom-team, @architect-team, @docs-team

chore(dev): add GitHub Actions extension to devcontainer
  .devcontainer/devcontainer.json
Owners: @cinecom-team

feat(claude): add Claude Code PR management commands
  .claude/commands/pr-auto-update.md
  .claude/commands/pr-create.md
  .claude/commands/pr-feedback.md
  .claude/commands/pr-review.md
Owners: @docs-team

ci: add frontend CI workflow
  .github/workflows/frontend-ci.yml
Owners: @devops-team

fix(ci): resolve pnpm version conflict in frontend CI workflow
  .github/workflows/frontend-ci.yml
Owners: @devops-team

CODEOWNERS:

# CODEOWNERS
# 
# This file defines which users are automatically requested for review
# when someone opens a pull request.
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# Global ownership - requires review for all changes
* @cinecom-team

# Documentation - requires documentation team review
docs/ @docs-team
*.md @docs-team
README* @docs-team

# Architecture & Design - requires architect review
docs/architecture/ @architect-team
docs/design/ @ux-design-team
docs/agents/ @project-manager

# Project Management - requires PM review
docs/project/ @project-manager
docs/meetings/ @project-manager
.github/ @devops-team @project-manager

# Frontend - requires frontend team review
frontend/ @frontend-team
*.tsx @frontend-team
*.ts @frontend-team
*.jsx @frontend-team
*.js @frontend-team
*.css @frontend-team
*.scss @frontend-team
tailwind.config.* @frontend-team
next.config.* @frontend-team
package.json @frontend-team
yarn.lock @frontend-team
package-lock.json @frontend-team

# Backend - requires backend team review  
backend/ @backend-team
*.nest.* @backend-team
*.service.ts @backend-team
*.controller.ts @backend-team
*.module.ts @backend-team
*.guard.ts @backend-team
*.interceptor.ts @backend-team
*.decorator.ts @backend-team

# Database - requires database team review
backend/src/entities/ @database-team
backend/src/migrations/ @database-team
backend/src/database/ @database-team
*.entity.ts @database-team
*.migration.ts @database-team
database/ @database-team
*.sql @database-team

# Testing - requires test team review
tests/ @test-team
*.test.* @test-team
*.spec.* @test-team
jest.config.* @test-team
playwright.config.* @test-team
e2e/ @test-team

# DevOps & Infrastructure - requires devops review
.github/workflows/ @devops-team
docker/ @devops-team
Dockerfile* @devops-team
docker-compose*.yml @devops-team
.dockerignore @devops-team
infrastructure/ @devops-team
scripts/ @devops-team
*.sh @devops-team

# Security - requires security team review
backend/src/auth/ @security-team
backend/src/guards/ @security-team
*.security.* @security-team
.env* @security-team @devops-team

# Configuration files - requires multiple team review
tsconfig*.json @frontend-team @backend-team
.eslintrc* @frontend-team @backend-team
.prettierrc* @frontend-team @backend-team
.gitignore @devops-team
.nvmrc @devops-team @frontend-team

# Microservice specific ownership
backend/services/user-service/ @backend-team @security-team
backend/services/movie-service/ @backend-team @database-team
backend/services/actor-service/ @backend-team @database-team
backend/services/scene-service/ @backend-team @database-team
backend/services/review-service/ @backend-team @database-team

# Critical files requiring additional oversight
CODEOWNERS @project-manager @devops-team
LICENSE @project-manager
